<section>
    <div class="container mt-6" style="max-width: 500px">
      <form action="/api/products" method="post" enctype="multipart/form-data">
        <h3 class="is-size-3 mb-5">Ingresar un nuevo producto</h3>
        <div class="field">
          <label class="label">Nombre</label>
          <div class="control has-icons-left has-icons-right">
            <input class="input is-info" type="text" placeholder="Ingrese el nombre del producto" value=""
              name="title" />
          </div>
        </div>

        <div class="field">
          <label class="label">Precio</label>
          <div class="control has-icons-left has-icons-right">
            <input class="input is-info" type="text" placeholder="Ingrese el precio del producto" value=""
              name="price" />
          </div>
        </div>

        <div class="field">
          <div id="file-js-example" class="file has-name">
            <label class="file-label">
              <input class="file-input" type="file" name="thumbnail" />
              <span class="file-cta">
                <span class="file-icon">
                  <ion-icon name="download-outline"></ion-icon>
                </span>
                <span class="file-label">
                  Cargar una imagen...
                </span>
              </span>
              <span class="file-name">
                Ningún archivo cargado
              </span>
            </label>
          </div>
        </div>
        <div class="field is-grouped">
          <div class="control">
            <button class="button is-danger is-info">Guardar</button>
          </div>
        </div>
      </form>
    </div>
    
  </section>

  <script>
    const fileInput = document.querySelector('#file-js-example input[type=file]');
    fileInput.onchange = () => {
      if (fileInput.files.length > 0) {
        const fileName = document.querySelector('#file-js-example .file-name');
        fileName.textContent = fileInput.files[0].name;
      }
    }
  </script>
