<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>

<body>
    <div class="container">
        <div class="field">
            <label class="label mt-6">Registro</label>
            <form action="/registro" method="post" class="control has-icons-left has-icons-right">
                <input class="input is-success mt-3" type="text" name="nombre" placeholder="Ingresa tu usuario"></input>
                <input class="input is-success mt-3" type="email" name="email" placeholder="Ingresa tu email"></input>
                <input class="input is-success mt-3" type="password" name="password"
                    placeholder="Ingresa tu contraseña"></input>
                <button type="submit" class="button is-primary mt-3">Registrarse</button>
            </form>
        </div>
        <button class="button is-danger mt-3" onclick="location.href='/login'">Volver a login</button>
    </div>
    
</body>

</html>