section
  .container.mt-6(style='max-width: 500px')
    form(action='/api/products' method='post' enctype='multipart/form-data')
      h3.is-size-3.mb-5 Ingresar un nuevo producto
      .field
        label.label Nombre
        .control.has-icons-left.has-icons-right
          input.input.is-info(type='text' placeholder='Ingrese el nombre del producto' value='' name='title')
      .field
        label.label Precio
        .control.has-icons-left.has-icons-right
          input.input.is-info(type='text' placeholder='Ingrese el precio del producto' value='' name='price')
      .field
        #file-js-example.file.has-name
          label.file-label
            input.file-input(type='file' name='thumbnail')
            span.file-cta
              span.file-icon
                ion-icon(name='download-outline')
              span.file-label
                | Cargar una imagen...
            span.file-name
              | Ningun archivo cargado
      .field.is-grouped
        .control
          button.button.is-danger.is-info Guardar
script.
  const fileInput = document.querySelector('#file-js-example input[type=file]');
  fileInput.onchange = () => {
  if (fileInput.files.length > 0) {
  const fileName = document.querySelector('#file-js-example .file-name');
  fileName.textContent = fileInput.files[0].name;
  }
  }